@page {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-top: 2.5cm;
    margin-bottom: 2cm;
}

.text-lighter{
    font-weight: lighter;
    font-family: "Arial";
}

body{
    margin-top: 15px;
    text-align:justify;

}

.italic{
    font-style: italic;
}

.img{
    width: 70px;
    height: 70px;
}

header { 
    position: fixed; 
    top: -60px; left: 0px; 
    right: 0px; 
    text-align: center;
    height: 50px;
}

footer { 
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px; 
    text-align: center;
    height: 50px; 
}

.w100{
    width: 100%;
}

.size-14{
    font-size: 14px;
}

.size-16{
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.mb-25{
    margin-bottom: 25px;
}

.mt-asunto{
    margin-top: -20px;
}

.mt-25{
    margin-top: 25px;
}

.mr-100{
    margin-right: 100px;
}

.mr-118{
    margin-right: 118px;
}

.page-break{
    page-break-after:always;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-objeto{
    margin-top: -15px;
}

.collapsed{
    border-collapse: collapse;
}

.table-border{
    border: 0.5px solid black;
}

.table-border-bottom{
    border-bottom: 1px solid black;
}